# TestSuite Konfigurationsdatei
# Kopiere diese Datei zu .env und trage deine API-Schlüssel ein

# LLM API Konfiguration
LLM_API_KEY=na
LLM_DEFAULT_MODEL=default

# Multi-LLM Konfiguration (JSON Format mit Modell:BaseURL Paaren)
LLM_MODELS="{\"your_model\": \"http://your_url/v1\",\"your_model\": \"http://your_url/v1\", \"your_model\": \"http://your_url/v1\"}"

# Vision API Konfiguration (für Bilder)
VISION_API_KEY=na
VLM_LLM_MODELS="{\"your_model\": \"http://your_url/v1\"}"


# Coding LLM API Konfiguration (speziell für Code-Generierung)
CODING_API_KEY=na
CODING_LLM_MODELS="{\"your_model\": \"http://your_url/v1\"}"


# Whisper API Konfiguration (für Audio)
WHISPER_API_KEY=dein_whisper_api_hier
WHISPER_API_BASE_URL=https://api.openai.com/v1
WHISPER_MODEL=whisper-1


# Voxtral API Konfiguration (für Audio)
# wg Nutzung von mistral-common
VOXTRAL_API_KEY=na
VOXTRAL_API_BASE_URL=http://your_url/v1
VOXTRAL_MODEL=your_model

# Bewertung LLM Konfiguration
EVALUATION_API_KEY=na
EVALUATION_API_BASE_URL=http://your_url/v1
EVALUATION_MODEL=your_model


# System Konfiguration
LOG_LEVEL=INFO
RESULTS_DIR=data/results
MAX_TEST_DURATION=300
SIMILARITY_THRESHOLD=0.7